body {
  margin-left: 120px;
  margin-right: 80px;
  background: repeating-RADIAL-gradient(rgba(255, 0, 0, 0.5)1%, rgba(255, 100, 100, 0.5) 1%, rgba(255, 0, 0, 0.5)1%);
}
.maintext {
  border: 2px solid black;
}
.BTT {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  display: block;
}
.menu ul {
      position: fixed;
      left: 20px;
      bottom: 20px;
      list-style-type: none;
      height: 80px;
      margin: 0;
      padding: 0;
      width: 80px;
      background-color: #a0a0a0;
      border: 1px solid black;
}
.menu  li a {
      display: block;
      color: e0e0e0;
      padding: 8px 2%;
      padding-bottom: 0;
      text-decoration: none;
}
.menu  li a:hover {
      background-color: #555;
      color: white;
}
.active {
  background-color: #606060;
}
.notyet {
  border-style:
}
.listimage {
  display: list-item;
  width: 50%;
  vertical-align: middle;
}
